{{#each question.answers as |answer|}}
	{{answer.answer_content}}
	<p>Created by {{answer.author}} on {{answer.date_created}}</p>
{{/each}}
{{create-answer question=question saveAnswer='createAnswer'}}