This is the home page
{{create-question createQ='createQuestion'}}


{{#each model as |question|}}
	<div>
		<h3>Title:{{question.title}}</h3>
		<div>
			{{question.content}}
		</div>
	</div>	
{{/each}}